<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Movies</title>
    </head>

    <body>
        <h1>Movies</h1>
        <ul>
            {% for movie in movies %}
            <li>
                <!-- We pass in the movie.id since the whole movie object is passed to this page we can access as we itterate-->
                <a href={{movie.id}}>
                    {{ movie.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <a href="/movies/add">Add a movie</a>
    </body> 

</html>